{% extends 'HomeOn.html.twig' %}
{% block body %}
        <tr>
            <td>{{ user.getNom() }}</td>
            <td>{{ user.getPrenom() }}</td>
            <td>{{ user.getMail() }}</td>
            <td>{{ user.getTel() }}</td>
            <td>{{ user.getGender() }}</td>
            <td>{{ user.getNbPoints() }}</td>
            <td>{{ user.getAge() }}</td>
            <td>{{ user.getDateBirthday()|date('Y-m-d') }}</td>
        </tr>
{% endblock %}
